.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  height: 50px;
  position: sticky;
  top: 0;
  background-color: rgba(188, 143, 143, 0.541);
  z-index: 999;

  .left {
    display: flex;
    align-items: center;
    gap: 30px;

    span {
      font-weight: bold;
      font-size: 30px;
      color: red;
    }

    .search {
      input {
        border: none;
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px;
        max-width: 400px;
        background-color: transparent;
        color: black;

        // @include mobile {
        //   display: none;
        // }

        // @include tablet {
        //   width: 200px;
        // }
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 20px;

    // @include mobile {
    //   display: none;
    // }

    .user {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 500;

      //   @include tablet {
      //     display: none;
      //   }

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
      }

      span {
        cursor: pointer;
      }
    }
  }
}
